.user-item {
    position: relative;
    margin: 1rem;
    width: calc(45% - 2rem);
    min-width: 17.5rem;
    overflow: hidden;
    border-radius: 6px;
}

.user-item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: white;
    background: #292929;
    transition: transform 0.3s ease-in-out;
}

.user-item__hover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
}

.user-item:hover .user-item__hover-content {
    transform: translateY(0);
}

.user-item__content {
    padding: 0;
}

.user-item__image {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.user-item__info h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    color: #ffd900;
}

.user-item__info h3 {
    margin: 0;
}